body {
    /* Background */
    background: linear-gradient(rgb(39, 223, 113), rgb(19, 141, 64));
    background-repeat: no-repeat;
    background-size: 100% 165px;
    /* Police de texte */
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin: 0px;
}

h1 {
    /* TITRE DU SITE WEB */
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 50%;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    margin-top: 3%;
}

h2 {
    /* Slogan */
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 30px
}


.Menu_id {
    /* Menu identifiants */
    text-align: left;
    float: right;
    padding-right: 100px;
}

input {
    /* Bordure des zones à remplir */
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.Menu_connect {
    /* Menu connection */
    text-align: right;
    margin-top: 2%;
    float: right;
    padding-right: 100px;

}
.Inscription {
    /* Mise en page du cadre (inscription) */
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    height: 500px;
    text-align: center;
}


.Forums {
    /* A modifier */
    border: solid 3px rgb(9, 141, 62);
    padding: 5px;
    border-radius: 5px;
    margin-left: 5%;
    float: left;
    width: 60%;
    height: 500px;
    margin-bottom: 70px;
    margin-top: 40px;
}
.Forums table {
    /* Mise en page du tableau (inscription) */
    border-spacing: 100px 5px;
}

.Formulaire {
    /* Mise en page du tableau (inscription) */
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgb(9, 141, 62);
    width: 100%;
    text-align: left;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

.FormulaireSuite table {
    /* Mise en page du tableau (Bouton + sexe + age)*/
    margin: auto;
}
.FormulaireSuite button {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 40px;
    padding: 0px 40px;
    border: 2px solid rgb(39, 223, 113);
    background-color: rgb(39, 223, 113);
    margin-top: 20px;
}

.FormulaireSuite button:hover {
    /* Mise en page du bouton inscription */
    background-color: rgb(19, 141, 64);
    color: black;
}

.total_mess {
    /* Mise en page du cadre total messages etc */
    float: right;
    padding-top: 70px;
    width: 30%;
    height: 500px;
}

#footer {
    /* Mise en page du cadre footer */
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    clear: both;
    width: 100%;
    position: relative;
    height: 100px;
    background: linear-gradient(rgb(19, 141, 64), rgb(39, 223, 113));
}

h6 {
    /* Mise en page du texte (footer) */
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
